<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mis reportes | <%= title %></title>
    <%- include('../partials/header'); -%>

    <link rel="stylesheet" href="/css/mis-reportes.css">
</head>
<body>
    <%- include('../partials/navbar'); -%>
    
    <main class="main-container text-center">
        <h1><%= title %> <strong>Mis Reportes</strong></h1>
        <div class="main-content">
            <% if (userReports.length === 0) { %>
                <h2>¡Aún no tienes reportes!</h2>
                <a class="btn btn-warning" href="/report">Reportar un error</a>
            <% } else { %>
                <div class="user-reports">
                    <% userReports.map((report) => { %>
                        <div class="user-report container" id="<%= report.report_id %>">
                            <div class="report-title-container">
                                <img class="user-avatar" src="<%= user.displayAvatarURL({ dynamic: true }) %>" alt="Avatar de <%= user.username %>">
                                <span class="report-title"><%= report.reportTitle.length >= 20 ? `${report.reportTitle.substr(0, 20)}...`  : report.reportTitle%></span>
                            </div>
                            <div class="report-content">
                                <p><%= report.reportDescription.length >= 25 ? `${report.reportDescription.substr(0, 25)}...` : report.reportDescription %></p>
                            </div>
                            <a class="view-report-btn btn btn-warning" href="/report/<%= report.report_id %>">Ver</a>
                        </div>
                    <% }) %>
                </div>
                <a class="btn btn-warning" href="/report" style="margin-top: 10px;">Reportar un error</a>
            <% } %>
        </div>
    </main>
</body>
</html>