<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>

  <%- include('partials/header'); -%>

  <link rel="stylesheet" href="/css/comandos.css">
  <script src="/js/commands.js"/></script>
</head>
<body>
  <%- include('partials/navbar'); -%>

  <main class="main-container text-center">
    <h1><%= title %> <strong>Comandos</strong></h1>
    <header class="commands-welcome">
      <p class="commands-welcome-text">
        Obten información detallada sobre cada uno de mis <% if (allCommands) %> <%= allCommands.length %> comandos. Podrás encontrar sus aliases, descripciones, ejemplos de uso y más. ;)
      </p>
    </header>
    <section class="command-list">
      <div class="dropdown">
        <a data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" role="button">
          <span>Categoría</span>
        </a>
        <div id="dropdown-menu" class="dropdown-menu">
            <a class="dropdown-item">Bot</a>
            <a class="dropdown-item">Economía</a>
            <a class="dropdown-item">Música</a>
            <a class="dropdown-item">Diversión</a>
            <a class="dropdown-item">Utilidad</a>
            <a class="dropdown-item">Interacción</a>
            <a class="dropdown-item">Configuración</a>
          </div>
      </div>
      <% if (allCommands) { %>
        <% allCommands.forEach((cmd) => { %>
          <div id="<%= cmd.name %>" class="command-row container <%= cmd.category %>">
            <div class="command-info">
              <h4 class="command-name"><%= cmd.name %></h4>
              <p class="command-description"><%= cmd.description %></p>
              <p class="command-example">
                Ejemplo de uso: <% if (cmd.example) { %>
                  <code>p!<%= cmd.example %> </code>
                <% } else { %>
                  Ninguno
                <% } %> 
              </p>
              <p class="command-aliases">
                Aliases: <% if (cmd.alias.length) { %>
                  <% cmd.alias.map((a) => { %>
                    <code><%= a %></code> 
                  <% }) %> 
                <% } else { %>
                  Ninguno 
                <% } %> 
              </p>
              <span class="command-cooldown">
                Cooldown: <code><%= cmd.cooldown || 0 %> seg.</code> 
              </span>
            </div>
          </div>
          <div class="home-divider"></div>
        <% }) %> 
      <% } else { %>
        <h3>No se pudo cargar la información de los comandos. F :(</h3>
      <% } %> 
    </section>
  </main>
  <%- include('partials/footer'); -%>
</body>
</html>