<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>

  <%- include('partials/header'); -%>

</head>
<body>
  <%- include('partials/navbar'); -%>

  <main class="main-container text-center">
    <h1><strong class="yellow-primary"><%= title %></strong></h1>
    <div id="user-welcome">
        <p id="user-welcome-text">
          <% if (user) { %>
            ¡Bienvenido, <%= user.tag %>!
        </p>
            <img src="<%= user.displayAvatarURL({ dynamic: true }) %>" alt="Avatar de <%= user.username %>">
            <div class="panel-button" style="margin-top: 20px;">
              <a class="btn btn-info w-100" href="/dashboard">
                <i class="fas fa-cog"></i> Ir al panel
              </a>
            </div>
          <% } else { %>
            ¡Bienvenido, inicia sesión para continuar!
        </p>
          <a class="btn btn-warning w-50 login" id="login-button" href="/login">
            <i class="fab fa-discord"></i>  Iniciar sesión
          </a>
        <% } %>
    </div>
  </main>
</body>
</html>