<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>

  <%- include('partials/header'); -%>

  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <%- include('partials/navbar'); -%>

  <main class="main-container text-center">
    <h1><strong class="yellow-primary"><%= title %></strong></h1>
    <div class="user-welcome">
      <% if (user) { %>
        <p class="user-welcome-text">
            ¡Bienvenido, <%= user.tag %>!
        </p>
        <div class="user-welcome-image">
          <img src="<%= user.displayAvatarURL({ dynamic: true }) %>" alt="Avatar de <%= user.username %>">
        </div>
            <div class="panel-button" style="margin-top: 20px;">
              <a class="btn btn-info w-100" href="/dashboard">
                <i class="fas fa-cog"></i> Ir al panel
              </a>
            </div>
          <% } else { %>
        </p>
        <p class="bot-description">
          Una bot multipropósito con comandos de diversión, utilidad, música, economía, interacción, configuración y más.
        </p>
        <a class="login-button btn btn-warning w-50" href="/login">
          <div class="login-button-text">
            Iniciar sesión
          </div>
        </a>
        <% } %>
    </div>
  </main>
</body>
</html>